body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* ////////////////////////////////////////////////////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
}

.App {
  display: flex;
  height: 100vh;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background: #f7f7f7;
}

/* ///////////////////////////////////////////////////////////// */
.dashboard {
  display: flex;
}

.sidebar {
  background: #2d3748;
  color: white;
  width: 250px;
  padding: 20px;
  height: 100vh;
}

.profile {
  text-align: center;
  margin-bottom: 30px;
}

.profile-img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
  cursor: pointer;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background: #f7f7f7;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
}

.assessment-card {
  background: white;
  width: 30%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.circle-chart {
  margin: 20px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle-inner {
  position: absolute;
  text-align: center;
  font-size: 14px;
}

.actions button {
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.assessment-summary {
  margin-top: 30px;
}

.summary-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  background: #edf2f7;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  flex: 1;
  margin-right: 10px;
}

.card.red {
  background: #f56565;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

table th {
  background: #e2e8f0;
}

a {
  text-decoration: none;
  color: blue;
}
